<h2>Welcome {{user.username}}</h2>

<h2>You have {{user.points}} Points</h2>

<h2>Your referrer is {{user.parent}}<h2>

<h2>Your referral link is <a href="http://localhost:3000/register/{{user.id}}">http://localhost:3000/register/{{user.id}}</a></h2>

